[submodule "home/.oh-my-zsh/plugins/pyautoenv"]
	path = home/.oh-my-zsh/plugins/pyautoenv
	url = https://github.com/hsaunders1904/pyautoenv.git
[submodule "home/.oh-my-zsh/plugins/zsh-autosuggestions"]
	path = home/.oh-my-zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "home/.oh-my-zsh/plugins/autoupdate"]
	path = home/.oh-my-zsh/plugins/autoupdate
	url = https://github.com/TamCore/autoupdate-oh-my-zsh-plugins
